body {
	margin: 0;
	min-height: 100vh;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	transform: translateY(-100vh);
	transition: transform 700ms;
	background-color: rgba(127, 127, 127, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal.visible {
	transform: translateY(0);
}

.parent {
	position: relative;
	width: 100vw;
	height: 30vh;
	border: 1px solid black;
}

.output {
	position: absolute;
	right: 0;
	top: 0;
	background-color: yellow;
}